<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nuts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nuts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nuts-link">
                <a href="{% url 'products' %}?category=nut" class="dropdown-item">Standard</a>
                <a href="{% url 'products' %}?category=lock_nut" class="dropdown-item">Self Locking</a>
                <a href="{% url 'products' %}?category=cast_nut" class="dropdown-item">Castellated</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="bolts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bolts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bolts-link">
                <a href="{% url 'products' %}?category=hex_headed_bolt" class="dropdown-item">Hex Headed</a>
                <a href="{% url 'products' %}?category=allan_bolt" class="dropdown-item">Allan Headed</a>
                <a href="{% url 'products' %}?category=bi_hex_bolt" class="dropdown-item">Bi Hex Headed</a>
            </div>
        </li>

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="screws-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Screws
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="screws-link">
                <a href="{% url 'products' %}?category=metal_screw" class="dropdown-item">Metal</a>
                <a href="{% url 'products' %}?category=wood_screw" class="dropdown-item">Wood</a>
                <a href="{% url 'products' %}?category=masonry_screw" class="dropdown-item">Masonry Screw</a>
            </div>
        </li>
    </ul>
</div>